@use 'globals';

/* app-css */
html {
    font-size: 62.5%;
}

body {
    background: rgb(34,34,126);
    background: -moz-radial-gradient(at top, rgba(34,34,126,1) 0%, rgba(10,10,40,1) 65%);
    background: -webkit-radial-gradient(at top, rgba(34,34,126,1) 0%, rgba(10,10,40,1) 65%);
    background: radial-gradient(at top, rgba(34,34,126,1) 0%, rgba(10,10,40,1) 65%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22227e",endColorstr="#0a0a28",GradientType=1);
    
    color: globals.$colorMain;
    @include globals.fontBase;
    
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    min-width: 100vw;

}

.container {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 900px;

    & .header {
        @include globals.borderType1;
        @include globals.boxShadow;
        @include globals.d-flex-row;
        padding: 15px 20px;
        width: 100%;
        min-width: 100%;

        & .header--span {
            display: block;
            line-height: 2.8rem;
        }

        & .header--playerNameBox {
            & > pre {
                @include globals.fontBase;
                font-weight: 600;
                font-size: 1.8rem;
                word-spacing: 4px;
            }
        }

        & .header--leaderboard {
            @include globals.d-flex-column;
            font-weight: 900;
            min-height: 80px;

            & > span {
                display: block;
            }

            & > .header--leaderboard__span {
                font-size: 2.2rem;
                letter-spacing: 2px;

                & + .header--leaderboard__span__score {
                    font-size: 5.4rem;
                    min-height: 66px;
                    transition: transform globals.$transitionLongDuration globals.$transitionTimingFunction;
                }
            }
        }
    }

    .game {
        @include globals.borderType1;
        min-height: 500px;
        margin: 0 auto;
        margin-top: 20px;
        max-width: 900px;

        & > .game--container {
            @include globals.boxShadow;
            position: relative;
            transform: scale(0.975);
            @include globals.widthHeight100prcnt;

            & > #game--container__gameBoardLineDiv {
                background-image: -moz-radial-gradient(globals.$backgroundColorFromColorMain 2px, transparent 0);
                background-image: -webkit-radial-gradient(globals.$backgroundColorFromColorMain 2px, transparent 0);
                background-image: radial-gradient(globals.$backgroundColorFromColorMain 2px, transparent 0);
                background-position: 50%;
                background-repeat: repeat-y;
                background-size: 10px 10px;
                left: 0;
                position: absolute;
                top: 0;
                @include globals.widthHeight100prcnt;
                z-index: -1;
            }
            
            & > .game--container__canvasInputModal {
                @include globals.d-flex-column;
                left: 0;
                position: absolute;
                row-gap: 40px;
                top: 0;
                transition: all globals.$transitionDuration globals.$transitionTimingFunction;
                @include globals.widthHeight100prcnt;

                & > input {
                    background: none;
                    @include globals.borderType2;
                    color: globals.$colorMain;
                    font-size: 2.2rem;
                    letter-spacing: 1px;
                    outline: none;
                    text-align: center;
                    width: 50%;
                    min-width: 50%;

                    &::placeholder {
                        color: inherit;
                        font-size: 1.6rem;
                        text-align: center;
                    }

                }
                & > button {
                    background: none;
                    border: none;
                    color: globals.$colorMain;
                    cursor: pointer;
                    display: block;
                    font-size: 2.4rem;
                    font-weight: 900;
                    outline: none;
                    padding: 0 20px;
                    
                    &::after {
                        background-color: globals.$colorMain;
                        content: "";
                        display: block;
                        height: 2px;
                        min-height: 2px;
                        left: 0;
                        position: relative;
                        top: 0;
                        transform: scale(1) translateX(-120px);
                        transition: transform globals.$transitionDuration globals.$transitionTimingFunction, scale globals.$transitionDuration globals.$transitionTimingFunction;

                    }

                    &:hover {
                        transform: scale(1.05);
                        &::after {
                            transform: translateX(0px);
                        }
                    }

                }
            }
        }
    }
}
/* /app-css */


