/* global-variables-and-mixins */
/* /global-variables-and-mixins */
/* simple-css-reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  overflow: hidden;
  user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
}

/* /simple-css-reset */
/* single classes */
.hidden {
  display: none !important;
}

.hiddenByTransformXLeft, .hiddenByTransformXRight {
  opacity: 0 !important;
  transform: translateX(-9999px) !important;
  transform: translateX(-100vw) !important;
  transition: all 150ms ease-in-out !important;
  visibility: hidden !important;
}

.hiddenByTransformXRight {
  transform: translateX(9999px) !important;
  transform: translateX(100vw) !important;
}

.cursorMove {
  /* 
      Cursor move icon by icons8
      <a target="_blank" href="https://icons8.com/icon/ropwEia5dT03/move">Move</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>     
  */
  cursor: url("../assets/icons8-cursormove.png"), move !important;
}

/* /single classes */
/* app-css */
html {
  font-size: 62.5%;
}

body {
  background: rgb(34, 34, 126);
  background: -moz-radial-gradient(at top, rgb(34, 34, 126) 0%, rgb(10, 10, 40) 65%);
  background: -webkit-radial-gradient(at top, rgb(34, 34, 126) 0%, rgb(10, 10, 40) 65%);
  background: radial-gradient(at top, rgb(34, 34, 126) 0%, rgb(10, 10, 40) 65%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22227e",endColorstr="#0a0a28",GradientType=1);
  color: #FFFFFF;
  color: #FFFFFF;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
}

.container {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 900px;
}
.container .header {
  border: none;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0);
  -moz-box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0);
  -webkit-box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px;
  width: 100%;
  min-width: 100%;
}
.container .header .header--span {
  display: block;
  line-height: 2.8rem;
}
.container .header .header--playerNameBox > pre {
  color: #FFFFFF;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-weight: 600;
  font-size: 1.8rem;
  word-spacing: 4px;
}
.container .header .header--leaderboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
  min-height: 80px;
}
.container .header .header--leaderboard > span {
  display: block;
}
.container .header .header--leaderboard > .header--leaderboard__span {
  font-size: 2.2rem;
  letter-spacing: 2px;
}
.container .header .header--leaderboard > .header--leaderboard__span + .header--leaderboard__span__score {
  font-size: 5.4rem;
  min-height: 66px;
  transition: transform 1500ms linear;
}
.container .game {
  border: none;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 900px;
}
.container .game > .game--container {
  box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0);
  -moz-box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0);
  -webkit-box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0);
  position: relative;
  transform: scale(0.975);
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
.container .game > .game--container > #game--container__gameBoardLineDiv {
  background-image: -moz-radial-gradient(#FFFFFF 2px, transparent 0);
  background-image: -webkit-radial-gradient(#FFFFFF 2px, transparent 0);
  background-image: radial-gradient(#FFFFFF 2px, transparent 0);
  background-position: 50%;
  background-repeat: repeat-y;
  background-size: 10px 10px;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  z-index: -1;
}
.container .game > .game--container > .game--container__canvasInputModal {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  row-gap: 40px;
  top: 0;
  transition: all 150ms linear;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
.container .game > .game--container > .game--container__canvasInputModal > input {
  background: none;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 2.2rem;
  letter-spacing: 1px;
  outline: none;
  text-align: center;
  width: 50%;
  min-width: 50%;
}
.container .game > .game--container > .game--container__canvasInputModal > input::placeholder {
  color: inherit;
  font-size: 1.6rem;
  text-align: center;
}
.container .game > .game--container > .game--container__canvasInputModal > button {
  background: none;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 2.4rem;
  font-weight: 900;
  outline: none;
  padding: 0 20px;
}
.container .game > .game--container > .game--container__canvasInputModal > button::after {
  background-color: #FFFFFF;
  content: "";
  display: block;
  height: 2px;
  min-height: 2px;
  left: 0;
  position: relative;
  top: 0;
  transform: scale(1) translateX(-120px);
  transition: transform 150ms linear, scale 150ms linear;
}
.container .game > .game--container > .game--container__canvasInputModal > button:hover {
  transform: scale(1.05);
}
.container .game > .game--container > .game--container__canvasInputModal > button:hover::after {
  transform: translateX(0px);
}

/* /app-css */

/*# sourceMappingURL=main.css.map */
